.item {
  min-width: 100vh;
  min-height: 80vh;
}

.item:first-of-type {
  margin-left: 0;
}
.item-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.item-image:before {
  content: "";
  display: block;
  padding-top: 80%;
  pointer-events: none;
}
@media only screen and (max-width: 411px) {
  .item {
    min-width: 411px;
    margin-top: 50px;
  }

  .item-image:before {
    content: "";
    display: block;
    pointer-events: none;
  }
  .item-image {
    width: 411px;
  }
  .item:first-of-type {
    margin-left: 200px;
  }
}
