.slider_wrapper {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}
.slider {
  cursor: pointer;
  margin: 0;
  padding: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  .prevBtn {
    left: 25px;
    display: flex;
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    justify-content: center;
    background: #fff;
    opacity: 1;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    transition: transform ease-in 0.1s;
  }
  .nextBtn {
    display: flex;
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    justify-content: center;
    background: #fff;
    opacity: 1;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    transition: transform ease-in 0.1s;
    right: 25px;
  }
}
.slider_dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.slider_dots > div {
  width: 20px;
  height: 20px;
  background-color: #fdfdfd;
  border-radius: 50%;
  margin: 3px 2px;
  cursor: pointer;
}

.slider_dot_active {
  background-color: #49c3f3 !important;
  border: 1px solid #fff;
}

@media (max-width: 480px) {
  .slider {
    height: 40vh !important;
    .prevBtn,
    .nextBtn {
      display: none;
    }
  }
  .slider_dots > div {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 767px) {
  .slider {
    height: 60vh;
    width: 80vw;
  }
}

@media (min-width: 768px) {
  .slider {
    height: 70vh;
    width: 80vw;
  }
}

@media (min-width: 1200px) {
  .slider {
    height: 550px;
    width: 700px;
  }
}
