.main {
  margin-top: 20px;
  position: relative;
  width: 100%;
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main:hover {
  cursor: pointer;
}
.cascade {
  z-index: 1000;
  overflow-y: hidden;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  height: 73vh;
  width: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

button {
  padding: 20px;
  color: white;
  background-color: black;
}
img {
  width: 100vh;
  height: 72.5vh;
}

.active {
  background: rgba(255, 255, 255, 0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}
@media only screen and (max-width: 411px) {
  .main {
    position: relative;
    width: 100%;
    user-select: none;
  }
}
